/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-image: url("./images/gaialogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Oswald";
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.d10{
  width: 800px;
  height: 200px;
  margin-top: 50px;
  padding-top: 50%;
  margin: 50px auto;
  box-shadow: 0px 15px 10px -5px;
  background-size: contain;
} 

.d1{
  width: 800px;
  height: 200px;
  margin-top: 50px;
  padding-top: 50%;
  margin: 50px auto;
  box-shadow: 0px 15px 10px -5px;
  background-size: contain;
} 
/* CSS reset above, code starting here */

h1 {
   margin-left:50px;
   margin-top:50px;
   margin-bottom: 50px; 
   font-size:3em;
} 


h2 {
    margin-left:50px;
    margin-top:50px;
    font-size:1.5em;
    margin-right:50px;
} 

p {
  margin-left:50px;
 
  max-width: 1000px;
  color:black;
} 

.first-title {
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 10px;
    background-image: url(../Desiree/images/gaialogo.jpg);
} 

 /* Container holding the image and the text */
 .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

  .Menu {
    list-style-type: none;
    text-align: right;
    background-color: rgb(242, 242, 242);
  }

  .Menu_item {
    font-size: 2em;
    display: inline-block;
    padding: 8px;
    background-color: rgb(112, 97, 97);
    margin: 0;
    padding: 0;
    padding-right: 10px;
  }

  .Menu_item:hover {
    background-color: rgb(21, 119, 114);
  }


  .Menu_item a {
    display: block;
    color: rgb(3, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-right: 10px;
  }

  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
  /* display: none; */
  
   }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


   
